/* Custom styles for toggle transition if needed beyond Tailwind utilities */
.toggle-checkbox:checked {
    right: 0;
    border-color: #68D391;
  }
  .toggle-checkbox:checked + .toggle-label {
    background-color: #68D391;
  }
