/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

body {
    background: linear-gradient(90deg, #39CBED 13%, #4C9EEB 26%, #39CBED 43%, #46ACEC 59%, #39CBED 85%, #4CA1AF 100%);
}

@theme {
    --color-primary-font: #2C3E50;
    --color-secondary-background: #4C9EEB;
    --color-third-background: #4CA1AF;
    --color-white-sanity: #D9D9D9;
    --font-sans: "Manrope", sans-serif;
}